/* ================= Наташа | meDEC8 стили =============== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: #0d0f1a; 
  overflow-x: hidden;
}

.intro-section {
  position: relative;
  height: 91vh; 
  background-color: #111320;
  color: #ffffff;
  font-family: 'Segoe UI', sans-serif;
  overflow: hidden;
}


.intro-content {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 40px 60px;
  max-width: 1200px;
  box-sizing: border-box;
  z-index: 2;
  position: relative;
}


.intro-text {
  max-width: 600px;
}

.intro-image {
  position: absolute;
  right: -200px; 
  bottom: -30px; 
  z-index: 0; 
  pointer-events: none;
}

.intro-image img {
  height: 1200px; 
  width: auto;
  object-fit: contain;
}

.intro-button {
  display: inline-block;
  padding: 12px 24px;
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #ffbb00;
  border-radius: 4px;
  text-decoration: none;
  font-size: 16px;
  transition: all 0.3s ease;
  margin-top: 20px;
}

.intro-button:hover {
  background-color: #ffbb00;
  color: #111320;
}


.intro-text h1 {
  font-size: 48px;
  color: #ffbb00;
  margin-bottom: 20px;
}

.intro-text p {
  font-size: 20px;
  line-height: 1.7;
  color: #dddddd;
  margin-bottom: 30px;
}


.shiver-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  height: 80px;
  background-color: #0d0f1a;
  color: #ffffff;
  font-family: 'Segoe UI', sans-serif;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
}
  
  .logo {
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #ffbb00;
  }
  
  .nav-menu {
    display: flex;
    gap: 30px;
  }
  
  .nav-menu a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    position: relative;
    transition: color 0.3s ease;
  }
  
  .nav-menu a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    left: 0;
    bottom: -5px;
    background-color: #ffbb00;
    transition: 0.3s;
  }
  
  .nav-menu a:hover {
    color: #ffbb00;
  }
  
  .nav-menu a:hover::after {
    width: 100%;
  }
  
  /* ================= Зарина | zaringa стили =============== */



  /* ================= Паша | flmdev meDEC8 стили =============== */